.scroll-animation {
  color: #ffffff18;
  font-size: medium;
  text-align: left;
  position: fixed;
  top: 0;
  padding: 0 1rem;
  height: 100vh;
  z-index: -1;
  
  &.left {
    left: 0;
  };

  &.right {
    right: 0;
  };
}