#root {
  /* max-width: 1280px; */
  text-align: center;
}

.icon {
  width: auto;
  height: 3rem;
  vertical-align: middle;
  object-fit: contain;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--primary);
  color: white;
}

@media (prefers-color-scheme: light) {
  .scroll-animation {
    color: #00000018;
  }
}